:root{
  --light-bg-color:#ecf0f3;
  --night-bg-color:#363637;
  --light-shadow-one:#cbced1;
  --light-shadow-two:#ffffff;
  --night-shadow-one:#2e2e2f;
  --night-shadow-two:#3e3e3f;
  --light-color:#363637;
  --night-color:#ecf0f3;

}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  
}
.night {
  background:var(--night-bg-color);
  color:var(--night-color);
}
.light {
  background:var(--light-bg-color);
  color:var(--light-color) !important;
}

.container {
  max-width: 400px;
  border-radius: 40px;
}
.light .container{
  box-shadow: 13px 13px 20px var(--light-shadow-one), -13px -13px 20px var(--light-shadow-two);
}
.night .container{
  box-shadow: 13px 13px 20px var(--night-shadow-one), -13px -13px 20px var(--night-shadow-two);
}
.light .box-shadow {
  box-shadow: 13px 13px 20px var(--light-shadow-one), 0px 0px 20px var(--light-shadow-two);

}
.night .box-shadow{
  box-shadow: 13px 13px 20px var(--night-shadow-one), -13px -13px 20px var(--night-shadow-two);

}

@media only screen and (max-width: 850px) {
  .weather-container {
    flex-flow: column !important;
  }
  .weather,
  .forecast {
    margin: 0px 10px 30px 10px !important;
  }
}

@media only screen and (max-width: 500px) {
  .search-div {
    margin: 30px 10px 0 !important;
  }
  .forecast {
    grid-template-columns: 45% 45% !important ;
  }
}
